@import "tailwindcss";
#root {
  text-align: center;
}

.hide-scrollbar {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Opera */
}

/* Apply to the entire document */
html, body, #root {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* Internet Explorer & Edge */
  overflow: auto;
}

/* For WebKit browsers (Chrome, Safari, Opera) */
html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

.skeleton-shimmer {
  width: 100%;
  background: linear-gradient(
    90deg,
    #e0e0e0 0%,
    #f0f0f0 50%,
    #e0e0e0 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.2s infinite;
  border-radius: 0.5rem;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}


@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.6s ease-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}


